*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-color: #002D62;
    box-sizing: border-box;
}
.content h1{
    font-size: 60px;
    font-weight: 100;
    
    
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.content p{
    font-size: 20px;
    
    
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.content{
    margin-left: 50%;
    


    
}
.feature-img{
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 100px;
    
}
button{
    overflow: hidden;
    color: white;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    background-color: orange;
    width: 160px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border: 2px solid orange;
    transition: .4s ease;
    position: absolute;
    
}
button:focus{
    outline: none;

}
button a{
    transition: .3s ease;
}
button:hover{
    background-color: blue;
    border: 2px solid blue;
}
.menu-btn{
    position: relative;
    display: flex;
}